* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

textarea {
  width: 100%;
  height: 250px;
  border-radius: 7px;
  border-color: #999;
  background-color: #1d1f20;
  color: #e3e3e3;
}

.container1 {
  background: #343537;
  border-right: 1px solid white;
  padding: 0 30px;
}

h3, strong {
  color: #cccccc
}

.grid {
  width: 40%;
  float: left;
  overflow: hidden;
}

.output {
  border-left: 1px solid #e3e3e3;
  overflow: hidden;
}

.output iframe {
  border: none;
  width: 100%;
}

.widgets {
  height: 400px;
  background-color: #e3e3e3;
  border-radius: 7px;
  display:flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.widget {
  background: tomato;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 3px;
  margin: 10px 5px;
}

.affix{
  width: 100%;
}
